/* === Google Font Import - Poformsins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* === Google Font Import - Poformsins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("bg_img.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* CSS for login and register form */

.boxcontainer{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.boxcontainer .form{
    padding: 30px;
}

.boxcontainer .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #8F4704 ;
    border-radius: 25px;
    }

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease ;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #8F4704 ;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #8F4704 ;
}

.input-field i.icon{
    left: 0;
}

.input-field i.showHidePw{
    right: 0;
}


.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #8F4704;
}

.form a{
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

/* CSS for pop-up add_product form */

/* Button used to open the contact form - fixed at the bottom of the page */

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 23px;
    left: 28px;
    width: 280px;
}
    
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 23px;
    left: 28px;
    z-index: 9;
}
    
/* Add styles to the form container */
.form-container {
    width: 500px;
    height: 500px;
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
}
    
/* Full-width input fields */
.form-container input {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border: none;
    background: #f1f1f1;
}

/* Full-width select fields */
.form-container select {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container select:focus {
    background-color: #ddd;
    outline: none;
}

/* When the inputs get focus, do something */
.form-container input:focus {
    background-color: #ddd;
    outline: none;
}
    
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
    
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
    
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


